ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
html{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #1b2838;
    color: #acb2b8;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    height: 100%;
}
header {
     color: #b8b6b4;
     height: 10%;
     background-color: #171a21;
     display: flex;
     text-align: center;
}

nav{
    margin: auto 3em;
}
li{
    display: inline-block;
}
nav li {
    padding: 0 1em;
}
a {
    color: #b8b6b4;
    text-decoration:none;
}
a:hover{
    color: #87bff2;
}

nav li a {
    color: #b8b6b4;
}

.title{
    margin: 1em 5%;
    display: flex;
    text-align: center;
}

.title, h2 {
    color: #ebebeb;
}

.title img{
    border: #b8b6b4 solid 2px;
}
.title div{
    display: inline;
    padding-left: 1em;
    margin: auto 0;
    font-size: x-large;
    font-weight: bold;
}
.title span {
    font-weight: normal;
    font-size: small;
}
.title .symbol {
    color: #b8b6b4;
    font-size: large;
}
aside {
    float: right;
    margin: 1% 5%;
    width: 30%;
    background-color: #171a21;
}
aside *{
    padding: 0;
    width: 100%;
}
aside a{
    color: white;
}
aside img, aside ul {
    color: white;
}
aside li {
    text-align: center;
    padding: 0.2em 0;
}
section {
    margin: 0 5%;
}
section blockquote {
    margin: 0;
    width: 60%;
    font-size: small;
    background-color: #171a21;
    padding: 0.7em;
    color: #b8b6b4;
    border-top: 1px solid rgba(85, 125, 171, 0.6);
}
p small {
    margin: 0;
    padding: 0;
    color: #b8b6b4;
}
.value p, .value ul {
    display: inline-block;
}

.value {
    color: #b8b6b4;
    font-size: small;
}

.value li {
    padding: 0.2em 0.6em;
    background-color: rgba(85, 125, 171, 0.6);
    border-radius: 3px;
}
h3 {
    color: #ebebeb;
}
.comment li {
    display: block;
    margin: 1.5em 0;
}
h4 {
    font-weight: normal;
    color: #ebebeb;
    margin: 0;
}
h4 small {
    color: #56707f;
}
.active {
    color: #87bff2;
}
hr {
    width: 90%;
    margin: 0 5%;
    border-width:0;
    height: 1px;
    color:rgba(85, 125, 171, 0.6);
    background-color:rgba(85, 125, 171, 0.6);
}
